
@{
    ViewBag.Title = "Share";
}

<h3>AddToAny </h3>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_blogger_post"></a>
    <a class="a2a_button_plurk"></a>
    <a class="a2a_button_line"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_baidu"></a>
    <a class="a2a_button_pinterest"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<hr />

<h3>ShareThis </h3>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5af24bba65adf7001138985b&product=inline-share-buttons"></script>
<div class="sharethis-inline-share-buttons"></div>
<hr />

<h3>addThis </h3>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5af24c47748d8ac5"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
<hr />

